<main class="main">
  <section class="walter">
    <div class="walter__inner">
      <div class="walter__inner--headline">ремонт квартир под ключ</div>
      <div class="walter__inner--name">WALTER</div>
      <div class="walter__inner--desc">Ваш персональный</div>
      <div class="walter__inner--lastname">House</div>
    </div>
  </section>
  <section class="form">
    <div class="form__box">
      <div class="overlay__box--name">
        <label class="name" for="name">Your name</label>
        <input type="text" id="Name" />
      </div>
      <div class="overlay__box--phone">
        <label class="number" for="phoneNumber">Your phone number</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" />
      </div>
      <button class="overlay__element--button" type="button">
        discuss a project
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="121"
          height="23"
          viewBox="0 0 121 23"
          fill="none"
        >
          <path d="M104 1L120 11.5L104 22" stroke="#FFAC30" />
          <line
            x1="-4.37114e-08"
            y1="11.5"
            x2="100"
            y2="11.5"
            stroke="#FFAC30"
          />
        </svg>
      </button>
    </div>
  </section>
  <section class="slides">
    <div class="slides__container">
      <div class="slides__container--inner">
        <div class="slides__inner--headline">
          <button class="slides__inner--title" type="button">Elite</button>
          <div class="slides__inner--titlesvg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="240"
              height="108"
              viewBox="0 0 240 108"
              fill="none"
            >
              <mask
                id="mask0_514_24"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="240"
                height="108"
              >
                <rect
                  width="240"
                  height="108"
                  transform="matrix(1 5.56363e-08 5.56363e-08 -1 0 108)"
                  fill="#C4C4C4"
                />
              </mask>
              <g mask="url(#mask0_514_24)">
                <circle
                  cx="120"
                  cy="-7.60578e-06"
                  r="86"
                  transform="rotate(-180 120 -7.60578e-06)"
                  stroke="white"
                  stroke-opacity="0.4"
                  stroke-width="2"
                />
              </g>
            </svg>
          </div>
        </div>
        <div class="slides__inner--desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </div>
        <div class="slides__inner--link">
          <a href="elitescreen.html">галерея</a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="136"
            height="23"
            viewBox="0 0 136 23"
            fill="none"
          >
            <line
              x1="-4.37114e-08"
              y1="11.5"
              x2="115"
              y2="11.5"
              stroke="#FFAC30"
            />
            <path d="M119 1L135 11.5L119 22" stroke="#FFAC30" />
          </svg>
        </div>
      </div>
    </div>
    <div class="slides__container2">
      <div class="slides__container--inner">
        <div class="slides__inner--headline">
          <button class="slides__inner--title2" type="button">Vip</button>
          <div class="slides__inner--titlesvg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="240"
              height="108"
              viewBox="0 0 240 108"
              fill="none"
            >
              <mask
                id="mask0_514_24"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="240"
                height="108"
              >
                <rect
                  width="240"
                  height="108"
                  transform="matrix(1 5.56363e-08 5.56363e-08 -1 0 108)"
                  fill="#C4C4C4"
                />
              </mask>
              <g mask="url(#mask0_514_24)">
                <circle
                  cx="120"
                  cy="-7.60578e-06"
                  r="86"
                  transform="rotate(-180 120 -7.60578e-06)"
                  stroke="white"
                  stroke-opacity="0.4"
                  stroke-width="2"
                />
              </g>
            </svg>
          </div>
        </div>
        <div class="slides__inner--desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </div>
        <div class="slides__inner--link">
          <a href="vipscreen.html">галерея</a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="136"
            height="23"
            viewBox="0 0 136 23"
            fill="none"
          >
            <line
              x1="-4.37114e-08"
              y1="11.5"
              x2="115"
              y2="11.5"
              stroke="#FFAC30"
            />
            <path d="M119 1L135 11.5L119 22" stroke="#FFAC30" />
          </svg>
        </div>
      </div>
    </div>
    <div class="slides__container3">
      <div class="slides__container--inner">
        <div class="slides__inner--headline">
          <button class="slides__inner--title3" type="button">Extra</button>
          <div class="slides__inner--titlesvg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="240"
              height="108"
              viewBox="0 0 240 108"
              fill="none"
            >
              <mask
                id="mask0_514_24"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="240"
                height="108"
              >
                <rect
                  width="240"
                  height="108"
                  transform="matrix(1 5.56363e-08 5.56363e-08 -1 0 108)"
                  fill="#C4C4C4"
                />
              </mask>
              <g mask="url(#mask0_514_24)">
                <circle
                  cx="120"
                  cy="-7.60578e-06"
                  r="86"
                  transform="rotate(-180 120 -7.60578e-06)"
                  stroke="white"
                  stroke-opacity="0.4"
                  stroke-width="2"
                />
              </g>
            </svg>
          </div>
        </div>
        <div class="slides__inner--desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </div>
        <div class="slides__inner--link">
          <a href="extrascreen.html">галерея</a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="136"
            height="23"
            viewBox="0 0 136 23"
            fill="none"
          >
            <line
              x1="-4.37114e-08"
              y1="11.5"
              x2="115"
              y2="11.5"
              stroke="#FFAC30"
            />
            <path d="M119 1L135 11.5L119 22" stroke="#FFAC30" />
          </svg>
        </div>
      </div>
    </div>
  </section>
  <section class="square">
    <div class="square__inner">
      <div class="square__inner--title">
        выберите площадь и один из пакетов услуг:
      </div>
      <div class="square__inner--number">
        <div class="square__number">64</div>
        <div class="square__circle--svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="235"
            height="235"
            viewBox="0 0 235 235"
            fill="none"
          >
            <path
              d="M117.5 234C53.1588 234 1.00001 181.841 1.00001 117.5C1.00001 53.1588 53.1588 0.999992 117.5 0.999995C181.841 0.999998 234 53.1588 234 117.5C234 181.841 181.841 234 117.5 234Z"
              stroke="white"
              stroke-opacity="0.4"
              stroke-width="2"
            />
          </svg>
        </div>
        <div class="square__minicircle--svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
          >
            <ellipse
              cx="3.99902"
              cy="4"
              rx="4"
              ry="4"
              transform="rotate(90 3.99902 4)"
              fill="#FFAC30"
            />
          </svg>
        </div>
        <div class="square__line--svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="132"
            height="78"
            viewBox="0 0 132 78"
            fill="none"
          >
            <mask
              id="mask0_502_344"
              style="mask-type: alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="132"
              height="78"
            >
              <rect
                width="132"
                height="78"
                transform="matrix(1 0 0 -1 0 78)"
                fill="#C4C4C4"
              />
            </mask>
            <g mask="url(#mask0_502_344)">
              <path
                d="M-0.500003 234C-64.8412 234 -117 181.841 -117 117.5C-117 53.1588 -64.8412 0.999992 -0.499992 0.999995C63.8412 0.999998 116 53.1588 116 117.5C116 181.841 63.8412 234 -0.500003 234Z"
                stroke="#FFAC30"
                stroke-width="2"
              />
            </g>
          </svg>
        </div>
        <div class="square__point--svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="46"
            height="46"
            viewBox="0 0 46 46"
            fill="none"
          >
            <ellipse
              cx="23"
              cy="23"
              rx="7"
              ry="7"
              transform="rotate(90 23 23)"
              fill="#FFAC30"
            />
            <path
              d="M23 37.5C14.9919 37.5 8.5 31.0081 8.5 23C8.5 14.9919 14.9919 8.5 23 8.5C31.0081 8.5 37.5 14.9919 37.5 23C37.5 31.0081 31.0081 37.5 23 37.5Z"
              stroke="#FFAC30"
              stroke-opacity="0.5"
            />
            <path
              d="M23 45.5C10.5736 45.5 0.500002 35.4264 0.500003 23C0.500003 10.5736 10.5736 0.5 23 0.500001C35.4264 0.500001 45.5 10.5736 45.5 23C45.5 35.4264 35.4264 45.5 23 45.5Z"
              stroke="#FFAC30"
              stroke-opacity="0.2"
            />
          </svg>
        </div>
      </div>
      <div class="square__inner--desc">
        <div class="square__desc--item">
          <div class="square__item--i">i</div>
          <div class="square__item--text">Elite</div>
        </div>
        <div class="square__desc--item">
          <div class="square__item--i">i</div>
          <div class="square__item--text">Vip</div>
        </div>
        <div class="square__desc--item">
          <div class="square__item--i">i</div>
          <div class="square__item--text">Extra</div>
        </div>
      </div>
      <div class="square__inner--scroll">
        <div class="square__scroll--item">
          <div class="sroll__item--line"></div>
          <div class="scroll__item--elipse">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="8"
              height="8"
              viewBox="0 0 8 8"
              fill="none"
            >
              <ellipse
                cx="4"
                cy="4"
                rx="4"
                ry="4"
                transform="rotate(90 4 4)"
                fill="white"
              />
            </svg>
          </div>
        </div>
        <div class="square__scroll--item">
          <div class="sroll__item--line"></div>
          <div class="scroll__item--elipse">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="8"
              height="8"
              viewBox="0 0 8 8"
              fill="none"
            >
              <ellipse
                cx="4"
                cy="4"
                rx="4"
                ry="4"
                transform="rotate(90 4 4)"
                fill="white"
              />
            </svg>
          </div>
        </div>
        <div class="square__scroll--item">
          <div class="sroll__item--line"></div>
          <div class="scroll__item--elipse">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="8"
              height="8"
              viewBox="0 0 8 8"
              fill="none"
            >
              <ellipse
                cx="4"
                cy="4"
                rx="4"
                ry="4"
                transform="rotate(90 4 4)"
                fill="white"
              />
            </svg>
          </div>
        </div>
        <div class="square__scroll--item">
          <div class="sroll__item--line"></div>
        </div>
      </div>
      <div class="square__inner--price">
        <div class="square__price--number">233 000</div>
        <div class="square__price--name">грн</div>
      </div>
    </div>
  </section>
  <section class="form">
    <div class="form__box">
      <div class="overlay__box--name">
        <label class="name" for="name">Your name</label>
        <input type="text" id="Name" />
      </div>
      <div class="overlay__box--phone">
        <label class="number" for="phoneNumber">Your phone number</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" />
      </div>
      <button class="overlay__element--button" type="button">
        discuss a project
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="121"
          height="23"
          viewBox="0 0 121 23"
          fill="none"
        >
          <path d="M104 1L120 11.5L104 22" stroke="#FFAC30" />
          <line
            x1="-4.37114e-08"
            y1="11.5"
            x2="100"
            y2="11.5"
            stroke="#FFAC30"
          />
        </svg>
      </button>
    </div>
  </section>
  <section class="steps">
    <div class="steps__inner">
      <div class="steps__inner--headline">6 шагов к вашему WALTER house:</div>
      <div class="steps__inner--ellipse">
        <div class="square__number">3</div>
        <div class="square__circle--svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="235"
            height="235"
            viewBox="0 0 235 235"
            fill="none"
          >
            <path
              d="M117.5 234C53.1588 234 1.00001 181.841 1.00001 117.5C1.00001 53.1588 53.1588 0.999992 117.5 0.999995C181.841 0.999998 234 53.1588 234 117.5C234 181.841 181.841 234 117.5 234Z"
              stroke="white"
              stroke-opacity="0.4"
              stroke-width="2"
            />
          </svg>
        </div>
        <div class="square__minicircle--svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
          >
            <ellipse
              cx="3.99902"
              cy="4"
              rx="4"
              ry="4"
              transform="rotate(90 3.99902 4)"
              fill="#FFAC30"
            />
          </svg>
        </div>
        <div class="square__minicircle--svg2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
          >
            <ellipse
              cx="3.99902"
              cy="4"
              rx="4"
              ry="4"
              transform="rotate(90 3.99902 4)"
              fill="#FFAC30"
            />
          </svg>
        </div>
        <div class="square__minicircle--svg3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
          >
            <ellipse
              cx="3.99902"
              cy="4"
              rx="4"
              ry="4"
              transform="rotate(90 3.99902 4)"
              fill="#FFAC30"
            />
          </svg>
        </div>
        <div class="square__minicircle--svg4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
          >
            <ellipse
              cx="3.99902"
              cy="4"
              rx="4"
              ry="4"
              transform="rotate(90 3.99902 4)"
              fill="#FFAC30"
            />
          </svg>
        </div>
        <div class="square__minicircle--svg5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="8"
            viewBox="0 0 8 8"
            fill="none"
          >
            <ellipse
              cx="3.99902"
              cy="4"
              rx="4"
              ry="4"
              transform="rotate(90 3.99902 4)"
              fill="#FFAC30"
            />
          </svg>
        </div>
        <div class="square__line--svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="132"
            height="187"
            viewBox="0 0 132 187"
            fill="none"
          >
            <mask
              id="mask0_502_404"
              style="mask-type: alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="132"
              height="187"
            >
              <rect
                width="132"
                height="187"
                transform="matrix(1 0 0 -1 0 187)"
                fill="#C4C4C4"
              />
            </mask>
            <g mask="url(#mask0_502_404)">
              <path
                d="M-0.500003 234C-64.8412 234 -117 181.841 -117 117.5C-117 53.1588 -64.8412 0.999992 -0.499992 0.999995C63.8412 0.999998 116 53.1588 116 117.5C116 181.841 63.8412 234 -0.500003 234Z"
                stroke="#FFAC30"
                stroke-width="2"
              />
            </g>
          </svg>
        </div>
        <div class="square__point--svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="46"
            height="46"
            viewBox="0 0 46 46"
            fill="none"
          >
            <ellipse
              cx="23"
              cy="23"
              rx="7"
              ry="7"
              transform="rotate(90 23 23)"
              fill="#FFAC30"
            />
            <path
              d="M23 37.5C14.9919 37.5 8.5 31.0081 8.5 23C8.5 14.9919 14.9919 8.5 23 8.5C31.0081 8.5 37.5 14.9919 37.5 23C37.5 31.0081 31.0081 37.5 23 37.5Z"
              stroke="#FFAC30"
              stroke-opacity="0.5"
            />
            <path
              d="M23 45.5C10.5736 45.5 0.500002 35.4264 0.500003 23C0.500003 10.5736 10.5736 0.5 23 0.500001C35.4264 0.500001 45.5 10.5736 45.5 23C45.5 35.4264 35.4264 45.5 23 45.5Z"
              stroke="#FFAC30"
              stroke-opacity="0.2"
            />
          </svg>
        </div>
      </div>
      <div class="steps__inner--icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="77"
          height="94"
          viewBox="0 0 77 94"
          fill="none"
        >
          <path
            d="M37 1H7C3.68629 1 1 3.68629 1 7V65C1 68.3137 3.68629 71 7 71H45C48.3137 71 51 68.3137 51 65V23"
            stroke="#FFAC30"
            stroke-linejoin="round"
          />
          <path
            d="M26 71L26 87C26 90.3137 28.6863 93 32 93H70C73.3137 93 76 90.3137 76 87V46"
            stroke="#FFAC30"
            stroke-linejoin="round"
          />
          <path
            d="M37 15H52L37 1V15Z"
            fill="#FFAC30"
            stroke="#FFAC30"
            stroke-linejoin="round"
          />
          <path
            d="M61 37H76L61 23V37Z"
            fill="#FFAC30"
            stroke="#FFAC30"
            stroke-linejoin="round"
          />
          <line x1="61" y1="23.5" x2="51" y2="23.5" stroke="#FFAC30" />
          <line x1="41" y1="59.5" x2="11" y2="59.5" stroke="#FFAC30" />
          <line x1="41" y1="51.5" x2="11" y2="51.5" stroke="#FFAC30" />
          <line x1="41" y1="42.5" x2="11" y2="42.5" stroke="#FFAC30" />
        </svg>
      </div>
      <div class="steps__inner--desc">
        <div class="steps__desc--text1">СОСТАВЛЕНИЕ СМЕТЫ</div>
        <div class="steps__desc--text2">
          Разработка технического задания, 3D визуализация и расчёт сметы
        </div>
      </div>
    </div>
  </section>
  <section class="services">
    <div class="services__inner">
      <div class="services__inner--box">
        <div class="services__inner--item">
          <div class="services__content--desc">Видео наблюдение</div>
        </div>
        <div class="services__inner--item services__inner--item2">
          <div class="services__content--desc">lorem ipsum dolor</div>
        </div>
      </div>
      <div class="services__inner--box">
        <div class="services__inner--item services__inner--item3">
          <div class="services__content--desc">lorem ipsum dolor</div>
        </div>
        <div class="services__inner--item services__inner--item4">
          <div class="services__content--desc">lorem ipsum dolor</div>
        </div>
      </div>
      <div class="services__inner--item5">
        <div class="services__content--desc">lorem ipsum dolor</div>
      </div>
    </div>
  </section>
  <section class="form">
    <div class="form__box">
      <div class="overlay__box--name">
        <label class="name" for="name">Your name</label>
        <input type="text" id="Name" />
      </div>
      <div class="overlay__box--phone">
        <label class="number" for="phoneNumber">Your phone number</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" />
      </div>
      <button class="overlay__element--button" type="button">
        discuss a project
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="121"
          height="23"
          viewBox="0 0 121 23"
          fill="none"
        >
          <path d="M104 1L120 11.5L104 22" stroke="#FFAC30" />
          <line
            x1="-4.37114e-08"
            y1="11.5"
            x2="100"
            y2="11.5"
            stroke="#FFAC30"
          />
        </svg>
      </button>
    </div>
  </section>
</main>
